/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remember to add .quiz on the dist/main.css in front of all the star* with all the box-sizing */

:root {
  --quiz-newsletter-visibility: hidden;
}

.quiz-section {
  background: linear-gradient(138.69deg, #ffd2bb 10.1%, #fcf5e5 80.17%);
}

.quiz {
  @apply font-Hel z-50 transition-transform transform translate-y-full duration-300 pointer-events-none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.quiz.quiz-active {
  @apply visible translate-y-0;
}

.quiz.quiz-active .background-overlay {
  @apply opacity-100;
}

.background-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.quiz-newsletter {
  @apply z-50;
  visibility: var(--quiz-newsletter-visibility);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.quiz-newsletter__input-wrapper {
  position: relative;
  margin-bottom: 2.5rem;
}

.quiz-newsletter__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #555;
  box-sizing: border-box;
  font-family: "Arvo";
  font-size: 18px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;
}

.quiz-newsletter__input:focus {
  outline: none;
}

.quiz-newsletter__input::-webkit-input-placeholder {
  color: #aaa;
}

.quiz-newsletter__input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.quiz-newsletter__input:focus + .quiz-newsletter__input-underline {
  transform: scale(1);
}

.quiz-newsletter__input-underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transform-origin: left;
  -webkit-transform-origin: left;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 202px;
}

.quiz-btn {
  @apply border border-gray-300 w-full py-3 px-6 bg-white text-black hover:bg-black hover:text-white hover:border-gray-900 transition;
}

.quiz-btn:hover {
  @apply border-transparent;
}

.quiz-btn:hover path {
  @apply transition;
  fill: white;
}

.quiz-btn__cta {
  @apply flex justify-center items-center gap-2 border-0;
  background-color: #ffc8c8;
}

.quiz-btn .quiz-btn--full-length {
  @apply w-full;
}

.quiz-nav-btn:hover {
  background-color: transparent;
}

.quiz-nav-btn:disabled svg {
  fill: rgba(156, 163, 175, 1);
}

.white-overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.quiz-card-max-h {
  max-height: 90vh;
  height: 768px;
}

/* md: */
@media (min-width: 768px) {
  .quiz-card-max-h {
    max-height: 85vh;
    /* height: 768px; */
  }
}
