/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remember to add .quiz on the dist/main.css in front of all the star* with all the box-sizing */

.quiz-section {
  background: linear-gradient(138.69deg, #ffd2bb 10.1%, #fcf5e5 80.17%);
}

.quiz {
  @apply font-Hel invisible z-50 transition-transform transform translate-y-full duration-300 pointer-events-none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.quiz.quiz-active {
  @apply visible translate-y-0;
}

.quiz.quiz-active .background-overlay {
  @apply opacity-100;
}

.background-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.quiz-btn {
  @apply border border-gray-300 w-full py-3 px-6 bg-white text-black hover:bg-black hover:text-white hover:border-gray-900 transition;
}

.quiz-btn:hover {
  @apply border-transparent;
}

.quiz-btn:hover path {
  @apply transition;
  fill: white;
}

.quiz-btn__cta {
  @apply flex justify-center items-center gap-2 border-0;
  background-color: #ffc8c8;
}

.quiz-btn .quiz-btn--full-length {
  @apply w-full;
}

.quiz-nav-btn:hover {
  background-color: transparent;
}

.quiz-nav-btn:disabled svg {
  fill: rgba(156, 163, 175, 1);
}

.white-overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.quiz-card-max-h {
  max-height: 90vh;
  height: 768px;
}

/* md: */
@media (min-width: 768px) {
  .quiz-card-max-h {
    max-height: 85vh;
    /* height: 768px; */
  }
}
