/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz {
  @apply font-Hel hidden invisible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.quiz.quiz-active {
  @apply block visible;
}

.background-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.btn {
  @apply border border-black rounded w-full py-3 px-6;
}

.btn .btn--full-length {
  @apply w-full;
}

.white-overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #ffffff 100%);
}
