<link rel="stylesheet" href="{{ "main.css" | asset_url }}" />
<style>
  {% if section.settings.hover_black %}
  .quiz-btn:hover {
     background-color: black;
  }
  {% endif %}
  
  {% if section.settings.white_cta_btn %}
  .quiz-btn__cta {
     background-color: white;
    color: black;
  }
  {% endif %}
  
</style>

<style>
  .quiz-so__image {
    margin: 0 -1rem;
    height: 50%;
    background: url('{{ section.settings.image | img_url: '720x' }}'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }
</style>

<div id="quiz-root"></div>

<script src="{{ "bundle.js" | asset_url }}" ></script>


{% schema %}
  {
    "name": "Quiz",
    "class": "quiz-section",
    "settings": [
		{
            "type": "checkbox",
            "id": "white_cta_btn",
            "label": "Quiz entry button use white background?",
            "default": false
        },
		{
            "type": "checkbox",
            "id": "hover_black",
            "label": "Button hover turn black?",
            "default": false,
            "info": "It will change all the buttons' background color when hover in the quiz. Including quiz entry button."
        },
        {
          "type": "header",
          "content": "Newsletter email sign up:"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag",
          "default": "SPECIAL OFFER"
        },
        {
          "type": "text",
          "id": "headline_small",
          "label": "Headline small",
          "default": "Sign up for our newsletter &"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Main headline",
          "default": "Get 30% OFF for your first purchase!"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Newsletter promo image"
        }
	],
    "presets": [
      {
        "name": "Quiz",
        "category": "Quiz"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


